.button {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  line-height: 27px;
  font-weight: 400;
  width: 149px;
}

.button--primary {
  background: #36f5bf;
  margin-bottom: 1rem;
}

.button--primary:hover {
  background: #84f9d2;
}

.button--secondary {
  background: #282828;
  color: #ffffff;
}

.button--secondary:hover {
  background: #535353;
}

@media (min-width: 375px) {
  .button--primary {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
